*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    border-radius: 20px 20px 130px 20px;
    padding: 10px;
}

.content-wrapper {
    padding: 20px;
}

.project-title {
    margin-top: 0;
}

.day {
    color: gray;
}

.error,
.required {
    color: red;
    border-color: red;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    row-gap: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

.submit-btn {
    grid-column: 3 / 4;
    width: 35%;
    color: white;
    background-color: blueviolet;
    border: 0;
    border-radius: 15px;
    padding: 5px;
    background-image: url('../../assets/images/icon-arrow.svg');
    background-repeat: no-repeat;
    height: 125%;
    border-radius: 50px;
    background-position: center;
}

.submit-btn:hover {
    cursor: pointer;
    opacity: 60%;
    color: white;
}

.minus {
    font-size: 50px;
    color: blueviolet;
    font-weight: bold;
}

.number {
    font-size: 36px;
    color: blueviolet;
    font-weight: bold;
}

.result-wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 25px;
}

.name {
    font-size: 36px;
    font-weight: bold;
}